/* Dashboard (where widgets appear) */
.dashboard {
    height: 91vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.widget {
    list-style-type: none;
    color: #f5f5f5;
    border-radius: 4px;
    padding: 4px 6px;
    margin: 8px;
    float:left;
    height: 100px;
    cursor:pointer;
}
.widget:hover {
    filter: brightness(120%);
}
.widget.x1 {
    width: 120px;
}
.widget.x2 {
    width: 268px;
}
.widget.x2 i {margin-left: 95px;}
.widget h1 {
    position: absolute;
    margin:0;
    font-size: 11px;
    font-weight: normal;
}
.widget i {
    position: absolute;
    margin: 22px 0 0 20px;
    text-shadow: 3px 3px 7px #555;
    font-size: 58px;
}
.widget .time {
    font-size: 36px;
    margin-top: 26px;
    text-align: center;
}
.fa-battery-0, .fa-battery-1, .fa-battery-2, .fa-battery-3, .fa-battery-4, .comment {
    position: absolute;
    font-size: 10px;
    margin-top: 87px;
    margin-left: 3px;
}

/* Control Board (where user controls stuff) */
.controlboard {
    overflow: hidden;
    position: absolute;
    text-align: right;
    line-height: 9vh;
    height: 9vh;
    width: 100vw;
    bottom: 0;
}
.controlboard.hidden {
    bottom: -10vh;
}
.controlboard .logo {
    height: 6vh;
    position: absolute;
    margin-top: 1.5vh;
    left: 2vw;
}
.controlboard i {
    margin-right: 2.5vw;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

/* Event Notifications */
.eventcontainer {
    position: absolute;
    left: 7vw;
    width: 50vw;
    padding: 1.5vh 0;
}
.eventcomment {
	position: relative;
	background: #f3961c;
    color: white;
    padding: 0 0.75vw;
    font-size: 2.75vh;
    line-height: 5vh;
	border: 1px solid #d98619;
    border-radius: 3px;
    text-align: left;
}
.eventcomment:after, .eventcomment:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.eventcomment:after {
	border-color: rgba(243, 150, 28, 0);
	border-right-color: #f3961c;
	border-width: 6px;
	margin-top: -6px;
}
.eventcomment:before {
	border-color: rgba(217, 134, 25, 0);
	border-right-color: #d98619;
	border-width: 7px;
	margin-top: -7px;
}
