html, body {
    font-family: "Avenir Next", Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

.hidden {display:none;}
.dim {opacity: 0.5; text-shadow: 2px 2px 10px gray;}
.r45 {transform: rotate(45deg);}
.red {background-color: red;}
.maroon {background-color: maroon;}
.green {background-color: green;}
.blue {background-color: darkblue;}
.gray {background-color: darkslategray;}
.pink {background-color: hotpink;}
