.keypad {
    position:absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-image: url(../img/alarm.png);
    background-size: cover;
    z-index: 2;
}
.keypad.alarm {
  animation: alarmpulse 2s infinite;
}
@keyframes alarmpulse {
    0% {background-color: white;}
    50% {background-color: yellow;}
    100% {background-color: white;}
}
.keypad .countdown {
    position: absolute;
    top: 37vh;
    left: 17vw;
    width: 25vw;
    font-size: 22vh;
    text-align: center;
}
.keypad form {
    width: 250px;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.9);
    box-shadow: 5px 5px 8px darkred;
    margin-top: 2.5%;
    margin-left: 57%;
}
.keypad form h1 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 15px 0 0 0;
    margin: 0;
}
.keypad .passcodeui {
    margin: 12px 0 10px 0;
    text-align: center;
}
.keypad .passcodeui i {
    letter-spacing: 9px;
}
.keypad button {
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #e2e2e2;
    margin: 10px;
    width: 60px; 
    height: 60px;
    font-size: 24px;
}
.keypad button.function {
    font-size: 12px;
    background-color: transparent;
    padding-top: -5px;
    border:0;
}
.keypad button div {
    font-size: 8px;
    margin-top: -2px;
    text-transform: uppercase;
}