<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="keypad.js"></script>
</head>
<body>
    <form class="keypad">
        <input type="hidden" name="passcode" id="passcode" />
        <h1>Enter Passcode</h1>
        <div class="passcodeui"></div>
        <button type="button" value="1">1 <div>&nbsp;</div></button>
        <button type="button" value="2">2 <div>abc</div></button>
        <button type="button" value="3">3 <div>def</div></button>
        <button type="button" value="4">4 <div>ghi</div></button>
        <button type="button" value="5">5 <div>jkl</div></button>
        <button type="button" value="6">6 <div>mno</div></button>
        <button type="button" value="7">7 <div>pqrs</div></button>
        <button type="button" value="8">8 <div>tuv</div></button>
        <button type="button" value="9">9 <div>wxyz</div></button>
        <button type="button" class="function" value="clear">clear</button>
        <button type="button" value="0">0</button>
        <button type="button" class="function" value="delete">delete</button>
    </form>
</body>
</html>