.notification.contact
{
    background-image: url(../img/door.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1000;
}
.notification .msg 
{
    font-size: 9vh; 
    position:absolute;
    top: 30vh; 
    left: 1vw; 
    right: 44vw;
    text-align: center;
}
